.main-section {
  background-color: var(--bg-color);
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/main/background-main_mobile.jpg");
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;

  &__header {
    font-weight: 900;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--color-one);
    margin: 0 auto 30px auto;
  }
  &__container {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (min-width: 480px) and (min-device-pixels-ratio: 2),
  screen and (min-width: 480px) and (min-resolution: 192dpi),
  screen and (min-width: 480px) and (min-resolution: 2dppx) {
  .main-section {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../images/main/background-main_mobile@2x.jpg");
    background-size: 480px;
  }
}
@media screen and (min-width: 768px) {
  .main-section {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../images/main/background-main_tablet.jpg");
    background-size: 768px;
  }
}
@media screen and (min-device-pixels-ratio: 2) and (min-width: 768px),
  screen and (min-resolution: 192dpi) and (min-width: 768px),
  screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .main-section {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../images/main/background-main_tablet@2x.jpg");
    background-size: 768px;
  }
}
@media screen and (max-width: 1199px) {
  .main-section {
    padding-top: 118px;
    padding-bottom: 118px;
    &__header {
      font-size: 26px;
      line-height: 1.62;
      max-width: 360px;
    }
  }
}
@media screen and (min-width: 1200px) {
  .main-section {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../images/main/background-main_desktop.jpg");
    padding-top: 200px;
    padding-bottom: 200px;
    background-size: 1600px;

    &__header {
      font-size: 44px;
      line-height: 1.37;
      max-width: 700px;
    }
  }
}
@media screen and (min-device-pixels-ratio: 2) and (min-width: 1200px),
  screen and (min-resolution: 192dpi) and (min-width: 1200px),
  screen and (min-resolution: 2dppx) and (min-width: 1200px) {
  .main-section {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../images/main/background-main_desktop@2x.jpg");
    background-size: 1600px;
  }
}
