.page-footer {
  background-color: var(--color-five);

  &__container {
    align-items: baseline;
    flex-direction: column;
  }
}

@media screen and (min-width: 768px) {
  .page-footer__container {
    display: flex;
    flex-wrap: wrap;
    row-gap: 60px;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .addresses-and-social-wrapper {
    display: flex;
    gap: 165px;
  }
}
@media screen and (max-width: 1199px) {
  .page-footer {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .page-footer {
    padding-top: 94px;
    padding-bottom: 94px;

    &__container {
      flex-direction: row;
      align-items: baseline;
    }
  }
}
