.section-qualities {
  padding-bottom: 60px;
  padding-top: 60px;

  &__list {
    display: flex;
    flex-direction: column;
    gap: 30px;
    @extend %list-style;
  }
  &__element {
    width: 100%;
  }
}

.section-qualities__logo {
  display: flex;
  border-radius: 4px;
  background-color: var(--color-four);
  background-size: auto;
  margin-bottom: 30px;
  width: 100%;
  height: 120px;
  justify-content: center;
  align-items: center;
}
.section-qualities__icon {
  width: 70px;
  height: 70px;
}
.section-qualities__name {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--color-three);
  margin-bottom: 10px;
  text-align: center;
}
.section-qualities__info {
  font-size: 14px;
  line-height: 1.7;
  color: var(--color-seven);
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .section-qualities__element {
    width: 450px;
  }
  .section-qualities__logo {
    width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .section-qualities__list {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .section-qualities__name {
    text-align: start;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .section-qualities__element {
    width: 354px;
  }
  .section-qualities__logo {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .section-qualities {
    padding-bottom: 94px;
    padding-top: 94px;

    &__element {
      width: 270px;
    }
    &__logo {
      width: 270px;
    }
  }
}
