@media screen and (max-width: 767px) {
  .open-mobile-menu-btn {
    border: none;
    background-color: transparent;
    padding: 0;
    line-height: 0;

    &__icon {
      width: 40px;
      height: 40px;
      transition: fill var(--transition-duration-function);
    }
    &__icon:hover,
    &__icon:focus {
      fill: var(--color-two);
    }
  }
}
@media screen and (min-width: 768px) {
  .open-mobile-menu-btn {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .open-mobile-menu-btn {
    display: none;
  }
}
