.social-links {
  text-align: center;

  &__text {
    color: var(--color-one);
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
    margin-bottom: 20px;
  }
  &__list {
    column-gap: 10px;
    @extend %list-style;
    justify-content: center;
  }
}

.social-links__link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color var(--transition-duration-function);

  &:hover,
  &:focus {
    background-color: var(--color-two);
  }
}
.social-links__icon {
  @include icon-size(20px, 20px);
  fill: var(--color-one);
}
@media screen and (min-width: 480px) and (max-width: 1199px) {
  .application__btn {
    margin-top: 20px;
  }
}
@media screen and (max-width: 767px) {
  .social-links__item:nth-child(4) {
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .social-links {
    text-align: center;
  }
}
@media screen and (min-width: 1200px) {
  .social-links {
    margin-left: 70px;
    text-align: start;
  }
}
