.social-links__text {
  color: var(--color-one);
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.social-links__list {
  column-gap: 10px;
  @extend %list-style;
}

.social-links__link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color var(--transition-duration-function);

  &:hover,
  &:focus {
    background-color: var(--color-two);
  }
}
.social-links__icon {
  @include icon-size(20px, 20px);
  fill: var(--color-one);
}
@media screen and (max-width: 767px) {
  .social-links__item:nth-child(4) {
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .social-links {
    margin-left: 70px;
  }
  // .social-links__text {
  //   color: var(--color-one);
  //   font-weight: 700;
  //   line-height: 1.14;
  //   text-transform: uppercase;
  //   margin-bottom: 20px;
  // }
  // .social-links__list {
  //   column-gap: 10px;
  //   @extend %list-style;
  // }
  // .social-links__link {
  //   width: 44px;
  //   height: 44px;
  //   border-radius: 50%;
  //   background-color: rgba(255, 255, 255, 0.1);
  //   display: flex;
  //   align-items: center;
  //   justify-content: center;
  //   transition: background-color var(--transition-duration-function);

  //   &:hover,
  //   &:focus {
  //     background-color: var(--color-two);
  //   }
  // }
}
