:root {
  --color-one: #fff;
  --color-two: #2196f3;
  --color-three: #212121;
  --color-four: #f5f4fa;
  --color-five: #2f303a;
  --color-six: #000;
  --color-seven: #757575;
  --color-eight: #188ce8;
  --color-nine: #ececec;
  --color-ten: #eeeeee;
  --bg-color: #c4c4c4;
  --icon-color: #afb1b8;
  --font-one: "Raleway", sans-serif;
  --transition-duration-function: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
